.itemBarElement{
    text-align: center;
    cursor: pointer;
}

.icon:hover{
    opacity: 1 !important;
}

.icon{
    width: 100px;
    // opacity: 0.5;
}

@media ( max-width:770px ) {
    .icon{
        width: 80px;
    }
}
    
